<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
</head>

<body>
    <form action="/add" method="post">
        <input placeholder="Book name:" type="text" name="book_name">
        <input placeholder="Author:" type="text" name="author">
        <input placeholder="Available:" type="text" name="available">
        <button type="submit">+</button>
    </form>

    <a href="/">Show List</a>
</body>

</html>